html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    background: var(--background_colour);
    color: var(--text_colour);
    text-transform: capitalize;
    font-weight: bold;
    user-select: none;

    max-height: 100%;

    --big-size: 0.75rem;
    --small-size: 0.15rem;
}

a {
    color: inherit;
}

#toolbar,
#tabs,
#footer {
    background: var(--foreground_colour);
    padding: var(--big-size);
}

#toolbar,
#footer {
    color: var(--header_text_colour);
    background: var(--header_colour);
    box-shadow: 0 0 var(--small-size) var(--small-size) rgba(0, 0, 0, 0.25);
    z-index: 1;
}

#tabs {
    margin: var(--big-size);
    margin-bottom: 0;
}

#content {
    flex: 1;
    display: flex;
    flex-flow: row;
    padding: var(--big-size);

    max-height: calc(100% - 8.25rem);
}

#edit-pane {
    width: 75%;

    display: flex;
    flex-flow: row;
}

.resize-ew {
    position: relative;
    padding-right: var(--big-size);
    pointer-events: none;
}

.resize-ew::after {
    display: block;
    content: "";
    width: var(--big-size);
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: all;
    cursor: ew-resize;
    right: 0;
}

.resize-ns {
    position: relative;
    padding-bottom: var(--big-size);
    pointer-events: none;
}

.resize-ns::after
 {
    display: block;
    content: "";
    height: var(--big-size);
    width: 100%;
    position: absolute;
    bottom: 0;
    pointer-events: all;
    cursor: ns-resize;
    left: 0;
}

#code,
#docs {
    display: none;
    flex: 1;
}

#editor,
#info {
    flex: 1;
}

#edit-pane.code-view #code,
#info-pane.docs-view #docs {
    display: block;
}

#edit-pane.code-view #editor,
#edit-pane.code-view #pallete-container,
#info-pane.docs-view #info,
#info-pane.docs-view #console-container {
    display: none;
}

#info-pane {
    flex: 1;

    display: flex;
    flex-flow: column;
}

#pallete,
#code,
#editor,
#info,
#console,
#docs {
    width: 100%;
    height: 100%;
    background: var(--foreground_colour);
    pointer-events: all;
    padding: var(--big-size);
    position: relative;
}

#pallete,
#code,
#editor,
#info,
#console,
#docs,
#tabs {
    box-shadow: 0 0 var(--small-size) var(--small-size) rgba(0, 0, 0, 0.1);
    border-radius: var(--small-size);
}

#editor,
#pallete {
    overflow: auto;
    font-family: monospace;
}

#console {
    z-index: 1;
}

#info {
    overflow: auto;
}

#info h1,
#info pre {
    margin-bottom: 1em;
}

#info div {
    text-transform: none;
    user-select: text;
    font-family: monospace;
    font-weight: normal;
}

#runtime-error {
    background: #fee;
    color: #c00;
}
