#code {
    overflow: auto;
}

#code div {
    min-height: 100%;
    user-select: text;
}

#code h1 {
    display: inline-block;
    user-select: none;
    margin-bottom: 1em;
}

#code pre {
    font-size: 75%;
    font-family: monospace;
    font-weight: normal;
    text-transform: none;
    line-height: 1.25;
}
