.create_function_button {
    border: 1px solid;
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
    white-space: nowrap;
}

#pallete h2 {
    white-space: nowrap;
}

.create_function_button + .create_function_button {
    margin-left: 1rem;
}

.create_function_button:hover {
    background: rgba(0,0,0,0.05);
}

.create_function_button:active {
    background: rgba(0,0,0,0.1);
}

.modal_container {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}

.modal_content {
    text-transform: none;
    font-family: sans-serif;
    width: 50%;
    height: auto;
    min-height: 3rem;
    min-width: 600px;
    margin: 3rem auto;
    background: white;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    padding: 2rem;
}

.modal_content h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1rem;
}

.modal_content input + input {
    margin-left: 1ch;
}

.float_right {
    display: inline-block;
    float: right;
}

.center_content {
    text-align: center;
}

.modal_content .padded {
    padding-bottom: 1rem;
}

.modal_content .indented {
    margin-left: 2rem;
}

.start, .pause, .resume, .stop {
    display: none;
    margin-left: 1ch;
}

body:not(.running) .start {
    display: inline;
}

body.running .stop,
body:not(.paused).running .pause {
    display: inline;
}

body.paused .resume {
    display: inline;
}
