#pallete {
    overflow: auto;
}

#pallete.delete {
    background: #ccc;
}

#pallete.delete > * {
    opacity: 0.5;
}

/*#pallete.delete::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.25;
    z-index: 1;
    pointer-events: none;
}*/

.element {
    position: relative;
    line-height: 0;
    color: var(--foreground);
    display: inline-block;
}

.element.free {
    position: absolute;
}

.element.floating {
    opacity: 0.5;
    pointer-events: none !important;
}

.element.floating * {
    pointer-events: none !important;
}

.element .text {
    color: var(--foreground);
    text-transform: none;
    margin-left: 0.5rem;
    white-space: nowrap;
    font-size: 1rem;
}

.inline_element .text::after,
.element .field,
.text span {
    display: inline-block;
    vertical-align: middle;
    border-radius: 0.5rem;
    white-space: pre;
}

.inline_element .text::after {
    content: ";";
}

.field .inline_element .text::after {
    display: none;
}

.element .field {
    background: var(--foreground);
    min-height: 1rem;
    border-radius: 0.5rem;
}

.element .field:empty {
    min-width: 2rem;
}

.content,
.element {
    pointer-events: none;
}

.inline_element,
.block_top,
.block_bottom,
.block_side {
    pointer-events: all;
}

.inline_element,
.block_top,
.block_bottom {
    position: relative;
    line-height: 1;
    vertical-align: middle;
    padding: 0.5rem;
    min-width: 4rem;
    display: inline-block;
    background: var(--background);
}

.block_bottom {
    border-top-right-radius: 0.5rem;
}

.block_top {
    border-bottom-right-radius: 0.5rem;
}

.block_side {
    position: absolute;
    width: 1rem;
    top: 0.125rem;
    bottom: 0;
    left: 0;
    background: var(--background);
}

.content:not(.disable_top) > .inline_element,
.content:not(.disable_top) > .block_top {
    border-top-right-radius: 0.5rem;
    background-repeat: no-repeat;
    background: linear-gradient(var(--highlight), var(--highlight) 0.125rem, var(--background) 0.125rem, var(--background));
}

.content.disable_top {
    margin-top: 0.5rem;
}

.content.disable_top > .inline_element::before,
.content.disable_top > .block_top::before {
    display: block;
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 0;
    height: 0.625rem;
    width: 100%;
    background: var(--highlight);
    border-top-right-radius: 33% 0.5rem;
    border-top-left-radius: 33% 0.5rem;
}

.content:not(.disable_bottom) > .inline_element,
.content:not(.disable_bottom) > .block_bottom {
    border-bottom-right-radius: 0.5rem;
}

.content.disable_bottom {
    margin-bottom: 0.5rem;
}

.content.disable_bottom > .inline_element,
.content.disable_bottom > .block_bottom {
    padding-bottom: 0.25rem;
}

.content.disable_bottom > .inline_element::after,
.content.disable_bottom > .block_bottom::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    height: 0.5rem;
    width: 100%;
    background: var(--background);
    border-bottom-right-radius: 33% 0.5rem;
    border-bottom-left-radius: 33% 0.5rem;
}

.content::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.125rem;
    height: 100%;
    background: var(--highlight);
    z-index: 1;
}

.block_bottom {
    min-width: 2rem;
}

.block_body {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    /*border-left: 1rem solid var(--background);*/
}

.block_placeholder:only-child {
    min-width: 2.5rem;
    min-height: 1rem;
}

.content,
.field {
    position: relative;
}

.field {
    overflow: hidden;
    margin-left: 0.25rem;
    margin-right: 0.125rem;
}

.element .above::before,
.element .below::after {
    display: block;
    min-width: 3rem;
    height: 0.5rem;
    background: black;
    opacity: 0.5;
    position: absolute;
    content: "";
    pointer-events: none;
    z-index: 100;
}

.element .above::before {
    top: -0.25rem;
}

.element .below::after {
    bottom: -0.25rem;
}

.field.above::before,
.field.below::after {
    min-width: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}

#pallete {
    text-transform: none;
}

#pallete h1 {
    font-size: 150%;
    margin-bottom: 1rem;
}

#pallete .supertype {
    position: relative;
    margin: 1rem 0;
}

#pallete .supertype h2 {
    cursor: pointer;
}

#pallete .supertype h2::after {
    content: " ▼"
}

#pallete .supertype.closed h2::after {
    content: " ►"
}

#pallete .supertype.closed div {
    display: none;
}

#pallete .supertype .free {
    position: static;
    display: inline-block;
    margin: 0.5rem;
}

.field .inline_element {
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 0.125rem solid var(--highlight);
    background: var(--background) !important;
}

.field .inline_element .text {
    margin: 0;
}

.field > input  {
    color: black;

    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;

    text-align: center;
    font-family: monospace;

    min-width: 1rem;

    border-left: 0.5rem solid var(--foreground);
    border-right: 0.5rem solid var(--foreground);
    box-sizing: content-box;
    outline: none;

    cursor: default;
}

.field > input:not(:only-child) {
    display: none;
}

#pallete .field {
    pointer-events: none;
}

body.running:not(.nohighlight) #editor .element:not(.active) > .content > .inline_element,
body.running:not(.nohighlight) #editor .element:not(.active) > .content > .block_top,
body.running:not(.nohighlight) #editor .element:not(.active) > .content > .block_bottom,
body.running:not(.nohighlight) #editor .element:not(.active) > .content > .block_side,
body.running:not(.nohighlight) #editor .element:not(.active) > .content::before {
    --highlight: var(--inactive_highlight);
    --background: var(--inactive_background);
    --foreground: var(--inactive_foreground);
}
