#console {
    /* undo global text styles */
    user-select: text;
    text-transform: initial;
    font-weight: initial;

    /*
    background: var(--console_background);
    color: var(--console_colour);
    font-family: var(--console_font_family);
    */

    font-family: monospace;

    overflow-x: hidden;
    overflow-y: auto;
    font-size: 90%;
    word-break: break-all;

    height: 100%;

    white-space: pre;
}

#console h2 {
	font-size: 150%;
	padding-bottom: 0.5em;
	border-bottom: 1px solid black;
	margin-bottom: 0.5em;
    font-weight: bold;
}
.scroll-y {
	overflow-y: auto;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#console:focus div :last-child::after {
	content: "_";
  	animation: blinker 1s step-start infinite;
}
